p{  font-size:40px;
	font-family:indie flower;
	font-weight:800px;
	text-transform:uppercase;
	border-bottom: 2px solid #f76add;
	width: 30%;
	margin:1.66%;
}
img{
	width:30%;
    height:550px; 
	float:left;
	margin:1.66%;
}